@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.active
{
    @apply underline text-orange-500 underline-offset-4
}


.pagination 
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
}

.pagination li{
    margin: 0;
}


.pagination a{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.pagination a:hover
{
    background-color: #eee;
}

.pagination li.activePagination {
    background-color: rgb(255, 106, 0);
    border-radius: 4px;
    color: #fff;
}


.active-button
{
    color: #fc3c1a;
}
    